# Ambientes Virtuais 
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]

# Banco de dados local (SQLite)
*.sqlite3

# Arquivos de IDE (VS Code / PyCharm)
.vscode/
.idea/

# Arquivos de sistema
.DS_Store

# Segredos e Configurações de Ambiente
.env
.env.local

# Uploads de usuários (Fotos/Documentos)
media/

# Arquivos coletados pelo Django
staticfiles/

# Logs de erro
*.log

# Front-end
node_modules/
dist/

# Pasta do Cursor (algumas configurações locais)
.cursor/

.ngrok.exe/
.ngrok/
ngrok.exe

# Ignorar dependencias e builds do Frontend
frontend/node_modules/
frontend/dist/
frontend/.package-lock.json

# Ignorar ambientes virtuais e cache do Backend Python (caso ainda nao tenha)
venv/
__pycache__/
*.pyc
.env
.coverage